body, html {
  text-align: center;
  height: 100%;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald';
  font-weight: bold;
  color: #1b262c;
}

p {
  color: #000;
  font-family: 'Open Sans';
  margin-bottom: 0;
}

/* Landing Page */

/* landing page button */
.button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: solid #ed6663;

  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 20px;
  margin: 0;
  width: 250px;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-right: 15px;
}

.button:hover {
  background-color: #fff;
  border-color: #fff;
}
/* arrow animation */
.wrapper:hover .fa-stack {
  color: #ed6663;
  transition: 0.3s;
  transform: rotateZ(90deg);

}
.wrapper {
  display: flex;
  width: 250px;
  height: 66px;
  /* border: 1px solid red; */
  margin: 1%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  position: relative;
    color: #ed6663;
}

.bg {
  /* The image used */
  /* background-image: url("https://imagesexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"); */
  background-color: #1b262c;
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

#landing {
  height: 100%;
  /* display: -webkit-flexbox; */
  /* display: -ms-flexbox; */
  /* display: -webkit-flex; */
  display: flex;
  /* -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center; */
  align-items: center;
  /* justify-content: center; */
  /* position: relative; */
}

/* Landing Page Text */
.heading {
  margin: 0;
  font-family: 'Finger Paint';
  font-size: 3.5rem;
  line-height: 1.5;
  margin-bottom: 0;
  color: #ed6663;
}
.em-name {
  color: #ed6663;
}

/* End of Landing Page */

/* 3 features section */
.icon {
  width: 250px;
  height: 250px;
  margin-bottom: 1.5rem;
}

.featuresbox {
  padding: 25px 0;
}


/* End of 3 features section */

/* Skills section */
.skill-row {
  width: 50%;
  display: inline-block;
  margin: 50px auto;
  line-height: 2;
  text-align: left;
}

.skill-description {
  overflow: auto;
}

.image-left {
  height: 30%;
  width: 30%;
  float: left;
  margin-right: 30px;
}


.image-right {
  height: 30%;
  width: 30%;
  float: right;
  margin-left: 30px;
}

/* headings */
.big-heading {
  font-size: 3.5rem;
  font-family: 'Finger Paint';
  font-weight: 900;
  line-height: 1.5;
  padding: 6% 0 2% 0;
  margin-bottom: 0;
}



/* Sections */
.container-fluid {
  padding: 7% 15%;

}

.white-section {
  background-color: #ed6663;
}

.coloured-section{
  background-color: #ffa372;
}

/* Nav Bar */
.navbar {
  /* background-color: #000; */
  /* background-color:rgba(0,0,0,0); */
  padding: 0;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  z-index: -1;
}

.transparent{
  z-index: 1;
}

.navbar a{
  color: black;
}

.navbar-brand {
  font-family: 'Finger Paint';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: 'Oswald';
}

/* Title section */
#title .container-fluid {
  padding: 1% 15% 1%;
  text-align: left;
}


/* Back to TOP BUTTON */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: black; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/* Footer section */
.social-icon {
  margin: 20px 10px;
}
.footer {
  font-size: 0.5rem;
  display: inline-flex; /* makes the text inline*/
}

/* display format */

@media (max-width:1024px) {
  .icon {
    width: 200px;
    height: 200px;
    margin-bottom: 1.5rem;
  }
  .navbar-brand{
    font-size: 1.0rem;
  }
}

@media (max-width:768px) {
  .icon {
    width: 100px;
    height: 100px;
    margin-bottom: 1.0rem;
  }
  .skill-header{
    font-size:1.5rem;
  }
  .big-heading{
    font-size:2.5rem;
  }
  .nav-item {
    font-size: 0.8rem;
  }
  .feature-titles{
    font-size:1.25rem;
  }
}

/* Calculator CSS */
.assumptions{
  text-align: left;
}
